@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.sectionForm {
    background: #009688;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
}

.sectionForm .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 16px;
}

.sectionForm .container form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sectionForm .container form p {
    color: red;
    font-size: 14px;
    font-family: "outfit";
}

.sectionForm .container form input {
    display: block;
    width: 100%;
    font-size: 16px;
    background: #eee;
    color: #000;
    padding: 12px;
    border: none;
}

.sectionForm .container form input[type="submit"] {
    cursor: pointer;
}

.sectionForm .container form input::placeholder {
    color: #000;
}

.sectionForm .d-flex {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.sectionForm .d-flex .todoCard {
    border: 2px solid #eee;
    padding: 14px;
    border-radius: 7px;
    color: #000;
    background: #fff;
    width: calc(33.33% - 13.3px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sectionForm .d-flex .todoCard button {
    padding: 8px 16px;
    font-size: 16px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    /* margin: 10px; */

}

.sectionForm .d-flex .todoCard button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.sectionForm .d-flex .todoCard div {
    font-size: 20px;
    padding-left: 5px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.sectionForm .d-flex .todoCard .d-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.sectionForm .d-flex .todoCard div:nth-child(3) {
    font-size: 16px;
}

.sectionForm .d-flex .todoCard div+div {
    margin-top: 8px;
}

.sectionForm .d-flex h3 {
    color: #fff;
}